@import url('https://fonts.googleapis.com/css2?family=Poppins');
* {
    font-family: 'Poppins', sans-serif;
}

.baslık{
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.anayazı{
    font-size: 64px;
    font-weight: bold;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.desc {
    font-size:23px;
    color: black;
}

.btn-dark {
    background-color: black;
    border-radius: 16px;
    padding: 30px 45px;
}

.btn-dark:hover {
    background-color: orangered;
    border: 1px solid orangered;
}
