@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

h2{
    font-size: 64px;
    font-weight: bold;
    color: black;
}

.desc {
    font-size:23px;
    color: black;
}

.btn-dark {
    background-color: black;
    border-radius: 16px;
    padding: 30px 45px;
}

.btn-dark:hover {
    background-color: orangered;
    border: 1px solid orangered;
}
